#app {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  font-size: 30px;
  border-radius: 50px;
  height: 32%;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}